# Dependency directories
node_modules/

# Environment configuration file
.env

# Log files
logs/

# Output of 'npm start'
npm-debug.log

# OSX folder attributes
.DS_Store

# Editor configuration files
.vscode/
.idea/

# Operating System files
Thumbs.db

# Package-lock files
package-lock.json
